doctype html
html(lang="en")
	head
		title= title
		link(rel='stylesheet', href='/lib/leaflet/leaflet.css')
		link(rel='stylesheet', href='/assets/css/style.css')
	body
		div#map
		script(src="/assets/bundle.js")
